<VirtualHost *:80>
ServerName {{ domainname }}
ServerAlias www.{{ domainname }}
DocumentRoot {{ dirpath }}/{{ dirname }}
ErrorLog logs/{{ domainname }}-error_log
CustomLog logs/{{ domainname }}-access_log common
DirectoryIndex index.html index.htm index.php index.php4 index.php5
<IfModule mpm_itk_module>
                AssignUserId {{ apacheuser }} {{ apacheuser }}
</IfModule>
<Directory {{ dirpath }}/{{ dirname }}>
Options -Indexes +IncludesNOEXEC +SymLinksIfOwnerMatch +ExecCGI
allow from all
AllowOverride All Options=ExecCGI,Includes,IncludesNOEXEC,Indexes,MultiViews,SymLinksIfOwnerMatch
</Directory>
<Directory {{ dirpath }}/{{ dirname }}>
allow from all
AllowOverride All Options=ExecCGI,Includes,IncludesNOEXEC,Indexes,MultiViews,SymLinksIfOwnerMatch
</Directory>
</VirtualHost>
